body {
    background-color: blue;
}

.container {
    margin: 0 auto;
    background-color: rgba(0, 128, 0, 0.815);
    width: 400px ;
    height: 600px;
    padding: 10px;
    border: 5px solid black;
}

.img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border: 10px solid orange;
    border-radius: 50%;
}

.heading-1 {
    color: blue;
}

.heading-2 {
    color: red;
}