/* body {
    display: flex;

    /* DEFAULT  */
    /* flex-direction: row;
    flex-wrap: nowrap; 
}
*/ 

/* div {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 2px solid blue;
} */

