body {
    display: flex;
    flex-flow: row wrap;
    /* flex-flow: column wrap; */
    align-items: flex-end;
    bord: 5px solid red;
   height: 700px;
}

div {
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
}

#aa {order: 2;}
#bb {order: 3;}
#cc {order: 4;}
#dd {order: 5;}
#ee {order: 6;}
#ff {order:7 ;}
#gg {order: 8;}
#hh {order: 9;}
#ii {order: 10;}
#jj {order: 11;}
#kk {order: 12;}
#ll {order: 13;}
#mm {order: 14;}